In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
CellPhone=pd.read_excel('E:\Python\Data\CellPhoneSurvey.xlsx','Data')

In [5]:
CellPhone
CellPhone.head()

,Gender,Address-City,Age,Make,Price,Home/Business,Monthly plan price,Total $'s spent
0,F,Boise,35.0,Nokia,100.0,Home,25.0,140.0
1,F,Boise,46.0,Nokia,100.0,Business,100.0,130.0
2,F,Meridian,31.0,Ericsson,45.0,Home,25.0,45.0
3,F,Boise,50.0,Nokia,100.0,Home,50.0,100.0
4,F,Boise,19.0,Nokia,100.0,Home,25.0,140.0

In [4]:
CellPhone.describe().T

                    count    mean        std   min   25%    50%     75%    max
Age                  50.0   38.52  12.996452  19.0  29.5   35.5   43.75   74.0
Price                50.0  109.40  57.761296  45.0  60.0  100.0  122.50  250.0
Monthly plan price   50.0   43.30  29.633992  20.0  25.0   25.0   50.00  150.0
Total $'s spent      51.0  135.28  63.240190  45.0  95.0  130.0  155.00  280.0

In [6]:
CellPhone.groupby('Gender')['Gender'].count()

Gender
F    20
M    30
Name: Gender, dtype: int64

In [10]:
#two tail test , non-parametric , proportion nominal data (binomial test)
print('HYPOTHESIS STATEMENT')
print('H_NULL: The proportion of female registered cell phone is = 80% (claim)')
print('H_ALT:The proportion of female registered cell phone is ≠ 80%')
cofidence_level=0.95
#specify the confidence level 
alpha=(1-cofidence_level)
#calculate alpha (significance level) 
print()
print('Significance level, α=%.2f '%(alpha))
from scipy import stats
#20: female, p=0.5 refering to proportion 80%
pvalue = stats.binom_test(20,n=50,p=0.8,alternative='two-sided')

print()
print('P Value: %.3f' %pvalue)
#default test function is for 2 tail test
print()

HYPOTHESIS STATEMENT
H_NULL: The proportion of female registered cell phone is = 80% (claim)
H_ALT:The proportion of female registered cell phone is ≠ 80%

Significance level, α=0.05

P Value: 0.000

In [11]:
if pvalue < alpha: 
    print('The null hypothesis is rejected') 
    print('The proportion of female registered cell phone is ≠ 80%') 
else: 
    print('The null hypothesis is accepted') 
    print('The proportion of female registered cell phone is = 80% (claim)')

print()

The null hypothesis is rejected
The proportion of female registered cell phone is ≠ 80%